<div>
  <%= flash[:notice] %>
</div>

<fieldset>
  <legend>ログイン</legend>
  
  <% form_for( @user_session,
      :url => { :action => "create"} )   do |f|   %>


    <div class="field">
      <%= f.label t :login,:scope => [:activerecord, :attributes, :user]  %><br />
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label t :password,:scope => [:activerecord, :attributes, :user] %><br />
      <%= f.password_field :password %>
    </div>
    
    <%= hidden_field_tag 'back_controller', params[:back_controller] %>
    <%= hidden_field_tag 'site', params[:site] %>
    </div>
    
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>

  <% end %>
  
</fieldset>

<div class="note"> 
  <ul> 
    <li>パスワードを忘れた方は
      <%= link_to "パスワードの再設定", :controller => "site/password_reissue", :action => :index %>
      を行ってください。</li>
  </ul>  

</div>