<script type="text/javascript">
//<![CDATA[
  
  
  
  // see javascript/site/images.js
  
  // ページload時,
  // アップロードフォームの表示On/Off,#display_uploadフィールドの値で切り替え
  $(document).ready( function(){
    var  f = false;
    if($('#display_upload').attr('value') == 1) {
      f = true;
    }
    else {
      f = false;
    }
    showOrHideUpload(f);
  });

  function insertImages() {
    //
    var images = new Array();
    // 
    var size = $('#image_size_field :radio:checked').val();
    var align = $('#image_align_field :radio:checked').val();
    var direction = $('#image_ordering_direction_field :radio:checked').val();
    //alert("size/align/direction = " + size + "/" + align + "/" + direction);
    //
    $('#images .check_for_batch:checked').each( function() {
      var checkedId =  $(this).val();
      var url  = '';
      var thumb = '';
      if($('#image_' + checkedId + "_is_image").val() == "true") {
        if(size == 'thumb') {
          url = $('#image_' + checkedId + "_original" ).val();
          thumb = $('#image_' + checkedId + "_thumb" ).val();
        }
        else {
          url = $('#image_' + checkedId + "_" + size).val();
        }
      }
      else {
        url = $('#image_' + checkedId + "_original").val();
      }
      // alert(url);
      var image = new Array();
      image['url'] = url;
      image['thumb'] = thumb;
      image['is_image'] = $('#image_' + checkedId + "_is_image").val();
      image['title'] = $('#image_' + checkedId + "_title").val();;
      image['alternative'] = $('#image_' + checkedId + "_alternative").val();;
      images.push(image);
    });
    if(images.length == 0) {
      alert("１件も画像が選択されていません。");
      return;
    }
    if(direction == 'asc') {   // 古いもの - 下から
      images.reverse();
    }
    //
    window.opener.insertImages(images, align);
    window.close();
  }

  
//]]>
</script>


<%= stylesheet_link_tag "site/images" %>
<h1>
  <%= Image.model_name.human %>の選択
</h1>

<p id="notice"><%= flash[:notice] %></p>



<div>
<h2>
  <%= Image.model_name.human %>一覧
</h2>
<%= form_tag({:action => :index},
               {:id => 'filteting_by_month', :method => 'get'}) do -%>
  <%= hidden_field_tag 'month', nil, { :id => 'filtered_month'}  %>
<% end %>
<%= form_tag({:action => :process_with_batch},
             {:id => 'process_with_batch', :method => 'get', :name => 'images'}) do -%>
             
<div id="settings_for_images">              
  <h3>
    使用する<%= Image.model_name.human %>の設定
  </h3>
  <div class="inputs fields">
    <div class="field" id="image_size_field">
      <span class="caption">
        大きさ:
      </span>
      <%= radio_button_tag("image_size", 'original', true ) %>オリジナル&nbsp;
      <%= radio_button_tag("image_size", 'medium', false ) %>中ぐらい&nbsp;
      <%= radio_button_tag("image_size", 'small', false ) %>小さい&nbsp;
      <%= radio_button_tag("image_size", 'thumb', false ) %>サムネイル&nbsp;
    </div>
    <div class="field" id="image_ordering_direction_field">
      <span class="caption">
        追加順:
      </span>
      <%= radio_button_tag("image_ordering_direction", 'desc', true ) %>新しいものから&nbsp;
      <%= radio_button_tag("image_ordering_direction", 'asc', false ) %>古いものから&nbsp;
    </div>
    <div class="field" id="image_align_field">
      <span class="caption">
        配置:
      </span>
      <%= radio_button_tag("image_align", 'none', true ) %>指定なし&nbsp;
      <%= radio_button_tag("image_align", 'center', false ) %>中央&nbsp;
      <%= radio_button_tag("image_align", 'left', false) %>左&nbsp;
      <%= radio_button_tag("image_align", 'right', false ) %>右&nbsp;
    </div>
  </div>
  <div class="actions">
  <%= button_to_function('画像を挿入', 'return insertImages();') %>
  </div>
</div>
             
<div>
  
  <%= select_tag('images[months]',
  options_for_select(
    [['全て', '']] +
    @months.collect { |month|
      [month.to_s('%Y年%m日'), month.to_s('%Y%m') ]
    },
    if params[:month] then params[:month] else nil end
  ), { :include_blank => false, :id => 'filtering_month', :name => 'month'} )

  %>
    <%= button_to_function('フィルター', 'return filterByMonth();') %>
</div>
<% if @images.size > 0 %>
  <%= will_paginate @images,  
    :params=>{:display_upload=>0}, 
    :previous_label => '<=', :next_label => '=>' %>
<% end %>

<table id="images">
  <tr>
    <th class="check_for_batch">
      <%= check_box_tag("check_all",1, false, 
      {:class => 'check_all'}) %>
    </th>
    <th class="image_entry">
      タイトル
    </th>
    <th class="created_at">
      作成日時
    </th>
  </tr>
  <% @images.each_with_index do |image, i| %>
    <tr>
    </tr>
    <tr class="image_entry_row, <%= if i % 2 == 0 then 'even' else 'odd' end %>" >
      <td class="check_for_batch">
        <%= check_box_tag("images[checked][#{image.id}]",image.id, false, 
        {:class => 'check_for_batch'}) %>
      </td>
      <td class="image_entry">
        <div class="thumb">
           <%= thumb_tag(image) %> 
        </div>
        <div class="info">
          <div class="title">
            <%= image.title %>
          </div>
          <div class="description">
            <%= image.description %>
          </div>
          <div class="actions"> 
            <%= link_to("表示", url_for(:action => :show, :id => image.id)) %>
          </div> 
        </div>
        <%= hidden_field_tag 'image_' + image.id.to_s + '_is_image', image.image_content_type? %>
        <%= hidden_field_tag 'image_' + image.id.to_s + '_title', image.title %>
        <%= hidden_field_tag 'image_' + image.id.to_s + '_alternative', image.alternative %>
        <%= hidden_field_tag 'image_' + image.id.to_s + '_original', image_url(image, :original) %>
        <%= hidden_field_tag 'image_' + image.id.to_s + '_medium', image_url(image, :medium) %>
        <%= hidden_field_tag 'image_' + image.id.to_s + '_small', image_url(image, :small) %>
        <%= hidden_field_tag 'image_' + image.id.to_s + '_thumb', image_url(image, :thumb) %>
      </td>
      <td class="created_at">
        <%= I18n.l(image.created_at, :format => :short) %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
<% if @images.size > 0 %>
    <%= will_paginate @images,  
      :params=>{:display_upload=>0}, 
      :previous_label => '<=', :next_label => '=>' %>
<% end %>

</div>


