<p id="notice"><%= flash[:notice] %></p>

<div>
  <% if @image %>
  <% if @image.image_content_type? %>
  <div>
    <%= user_image_tag(@image) %>
  </div>
  <% end %>
  <table class="detail" id="image_detail">
    <tr class="title">
      <th>
        <%= Image.human_attribute_name(:title) %>
      </th>
      <td>
        <%= @image.title %>
      </td>
    </tr>
    <tr class="image_file_name">
      <th>
        <%= Image.human_attribute_name(:image_file_name) %>
      </th>
      <td>
        <%= @image.image_file_name %>
      </td>
    </tr>
    <tr class="description">
      <th>
        <%= Image.human_attribute_name(:description) %>
      </th>
      <td>
        <%= simple_format(@image.description) %>
      </td>
    </tr>
    <tr class="alternative">
      <th>
        <%= Image.human_attribute_name(:alternative) %>
      </th>
      <td>
        <%= @image.alternative %>
      </td>
    </tr>

    <tr class="url">
      <th>
        <%= Image.human_attribute_name(:url) %>
      </th>
      <td>
        <%= link_to(image_url(@image),image_url(@image), :target => '_blank')  %>
      </td>
    </tr>

  </table>
  <% end %>
</div>

<div class="actions">
<%= link_to_function '戻る', 'history.back();' %>
</div>
