<h1>
<%= localize_month(@month) %>の<%= BlogArticle.human_name %>
</h1>
<% if @articles.size > 0 %>

  <% @articles.each do |article| %>

    <h2>
      <%= link_to(article.title, :action => :show, :id => article.id) %>
    </h2>

    <p id="notice"><%= notice %></p>

    <p id="content" class="article">
      <%= article.content.html_safe %>
    </p>

  <% end %>

<% else %>  
  <p class='not_found warning'>
    指定された月には<%= BlogArticle.human_name %>がみつかりません
  </p>
<% end %>

<% if @articles.size > 0 %>
  <%= will_paginate @articles, :prev_label => '<=', :next_label => '=>' %>
<% end %>

<div class="actions">  
</div>


