<script type="text/javascript">
//<![CDATA[
  /*
  $(document).ready( function(){
    var menuGroupToControllerMap =  {
        "dashboard_menu_header" : ["site_admin/dashboard", ""],
        "blogs_menu_header" : ["site_admin/blogs", ""],
        "pages_menu_header" : ["site_admin/pages", ""],
        "images_menu_header" : ["site_admin/images"],
        "layout_menu_header" : ["site_admin/theme","site_admin/layout","site_admin/widgets"],
        "setting_menu_header" :
         ["site_admin/setting","site_admin/post_setting","site_admin/view_setting",
         "site_admin/optimization","site_admin/inquiry_items", "site_admin/users"],
         "password_menu_header" : ["site_admin/users"]
     };
    var controller = '<%= params[:controller]%>';
    var currentId = 0;
    for(key in menuGroupToControllerMap) {
      if(menuGroupToControllerMap[key].contains(controller)) {
        currentId = "#" + key;
      }
    }

    $("#side_menu").accordion({autoHeight : false,
                              navigation: false,
                              alwaysOpen: true,
                              active: currentId
                              });
    $("#side_menu").css("display", "block");
  });
  */
  /*
  jQuery(document).ready(function(){
      var menuGroupToControllerMap =  {
          "dashboard_menu_header" : ["site_admin/dashboard", ""],
          "blogs_menu_header" : ["site_admin/blogs", ""],
          "pages_menu_header" : ["site_admin/pages", ""],
          "images_menu_header" : ["site_admin/images"],
          "layout_menu_header" : ["site_admin/theme","site_admin/layout","site_admin/widgets"],
          "setting_menu_header" :
           ["site_admin/setting","site_admin/post_setting","site_admin/view_setting",
           "site_admin/optimization","site_admin/inquiry_items", "site_admin/users"],
           "password_menu_header" : ["site_admin/users"]
       };
      var controller = '<%= params[:controller]%>';
      var currentId = 0;
      for(key in menuGroupToControllerMap) {
        if(menuGroupToControllerMap[key].contains(controller)) {
          currentId = "#" + key;
        }
      }

  	$('#side_menu .menu_group_header').click(function() {
  		$(this).next().toggle('slow');
  		return false;
  	}).next().hide();
  	$("#side_menu").css("display", "block");
  	$("#side_menu .menu_group").css("display", "none");
  	$(currentId).next().css("display", "block");

  });
  */
//]]>
</script>
<div id="side_menu" >

<h2 class="menu_group_header"  id="dashboard_menu_header"><a href="#">
  ダッシュボード
</a></h2>

<ul class="menu_group" id="dashboard_menu_group">
<li>
  <%=link_to "ダッシュボード", :controller => "site_admin/dashboard", :action => :index, :site => @site.name  %>
</li>
</ul>


<h2 class="menu_group_header" id="blogs_menu_header"><a href="#">
  お知らせ
</a></h2>
<ul class="menu_group" id="blogs_menu_group">
<li>
  <%=link_to "お知らせ一覧", :controller => "site_admin/blogs", :action => :index, :site => @site.name %>
</li>
<li>
  <%=link_to "お知らせ作成", :controller => "site_admin/blogs", :action => :new, :site => @site.name %>
</li>
</ul>


<h2 class="menu_group_header"  id="images_menu_header"><a href="#">
  画像・ファイル
</a></h2>
<ul class="menu_group"  id="images_menu_group">
<li>
  <%=link_to "画像一覧", 
  :controller => "site_admin/images", :action => :index, :site => @site.name %>
</li>
</ul>

<h2 class="menu_group_header"   id="pages_menu_header"><a href="#">
  ページ
</a></h2>
<ul class="menu_group"  id="pages_menu_group">
<li>
  <%=link_to "ページ一覧", :controller => "site_admin/pages", :action => :index, :site => @site.name %>
</li>
<li>
  <%=link_to "ページ追加", :controller => "site_admin/pages", :action => :new, :site => @site.name %>
  <li>
  <%=link_to "順序の変更", :controller => "site_admin/pages", :action => :place, :site => @site.name %>
</li>
</ul>

<% if @current_user.is_admin || @current_user.is_site_admin %>

<h2 class="menu_group_header" id="layout_menu_header"><a href="#">
  レイアウト
</a></h2>
<ul class="menu_group"  id="layout_menu_group">
<li>
  <%=link_to "テーマ", 
  :controller => "site_admin/theme", :action => :index, :site => @site.name 
  %>
</li>
<li>
  <%=link_to "レイアウト", 
  :controller => "site_admin/layout", :action => :index, :site => @site.name 
  %>
</li>
<li>
  <%=link_to "ウィジット", 
  :controller => "site_admin/widgets", :action => :index, :site => @site.name 
  %>
</li>
<li>
  <%=link_to "プレビュー", 
  {:controller => "/pages", :action => :preview, :site => @site.name},
  {:target => "_preview"} 
  %>
</li>
</ul>


<h2 class="menu_group_header"   id="setting_menu_header"><a href="#">
  設定
</a></h2>
<ul class="menu_group"  id="setting_menu_group">
<li>
  <%=link_to "設定", 
  :controller => "site_admin/setting", :action => :index, :site => @site.name  %>
</li>
<li>
  <%=link_to "投稿設定", 
  :controller => "site_admin/post_setting", :action => :index, :site => @site.name  %>
</li>
<li>
  <%=link_to "#{ViewSetting.model_name.human}", 
  :controller => "site_admin/view_setting", :action => :index , :site => @site.name %>
</li>
<li>
  <%=link_to "#{SearchEngineOptimization.model_name.human}", 
  :controller => "site_admin/optimization", :action => :index, :site => @site.name  %>
</li>
<li>
  <%=link_to "問い合わせ項目設定", 
  :controller => "site_admin/inquiry_items", :action => :index , :site => @site.name %>
</li>
<li>
  <%=link_to "#{User.model_name.human}管理", 
  :controller => "site_admin/users", :action => :index, :site => @site.name  %>
</li>
</ul>

<% end %>

<% unless @current_user.is_admin %>
<h2 class="menu_group_header"  id="password_menu_header"><a href="#">
  パスワード変更
</a></h2>
<ul class="menu_group"  id="password_menu_group">
<li>
  <%=link_to "#{User.human_attribute_name(:password)}変更", 
  :controller => "site_admin/password", :action => :edit, 
  :site => @site.name, :id => @current_user.id  %>
</li>
</ul>
<% end %>


<% if @current_user.is_admin %>
<h2 class="menu_group_header"><a href="#">
  管理者用
</a></h2>
<ul class="menu_group">
<li>
  <%=link_to "サイト一覧", :controller => "admin/sites", :action => :index  %>
</li>
</ul>
<% end %>
</div>
