<ul class="menu_group">
  <li class="menu_group_header">
    お知らせ
  </li>
  <li>
    <%=link_to "お知らせ一覧", :controller => "site/blogs", :action => :index %>
  </li>
  <li>
    <%=link_to "お知らせ作成", :controller => "site/blogs", :action => :new %>
  </li>
</ul>


<ul class="menu_group">
  <li class="menu_group_header">
    画像・ファイル
  </li>
  <li>
    <%=link_to "画像一覧", :controller => "site/images", :action => :index %>
  </li>
</ul>


<ul class="menu_group">
  <li class="menu_group_header">
    ページ
  </li>
  <li>
    <%=link_to "ページ一覧", :controller => "site/pages", :action => :index %>
  </li>
</ul>

<ul class="menu_group">
  <li class="menu_group_header">
    デザイン
  </li>
  <li>
    <%=link_to "テーマ", :controller => "site/theme", :action => :index %>
  </li>
  <li>
    <%=link_to "デザイン", :controller => "site/layout", :action => :index %>
  </li>
  <li>
    <%=link_to "ウィジット", :controller => "site/widgets", :action => :index %>
  </li>
</ul>


<ul class="menu_group">
  <li class="menu_group_header">
    設定
  </li>
  <li>
    <%=link_to "一般設定", :controller => "site/setting", :action => :index %>
  </li>
  <li>
    <%=link_to "投稿設定", :controller => "site/post_setting", :action => :index %>
  </li>
  <li>
    <%=link_to "#{ViewSetting.human_name}", :controller => "site/view_setting", :action => :index %>
  </li>
  <li>
    <%=link_to "#{SearchEngineOptimization.human_name}", :controller => "site/optimization", :action => :index %>
  </li>
  <li>
    <%=link_to "問い合わせ項目設定", :controller => "site/inquiry_items", :action => :index %>
  </li>
  <li>
    <%=link_to "#{User.human_name}管理", :controller => "site/users", :action => :index %>
  </li>
</ul>
