<h1>
  <%= Article.model_name.human %>一覧
</h1>
<p id="notice"><%= flash[:notice] %></p>
<table>
  <tr>
    <th>
      <%= link_to Article.human_attribute_name(:name), 
        site_articles_path(:sort => 'name') %>
    </th>
    <th>
      <%= link_to Article.human_attribute_name(:title), 
        site_articles_path(:sort => 'title') %>
    </th>
    <th>
      <%= link_to Article.human_attribute_name(:menu_order), 
        site_articles_path(:sort => 'menu_order') %>
    </th>
    <th>
      <%= link_to Article.human_attribute_name(:published), 
        site_articles_path(:sort => 'published') %>
    </th>
    <th>
      <%= link_to Article.human_attribute_name(:is_home), 
        site_articles_path(:sort => 'is_home') %>
    </th>
    <th>
      <%= link_to Article.human_attribute_name(:updated_at), 
        site_articles_path(:sort => 'updated_at') %>
    </th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td class="name">
      <%= link_to h(article.name), site_article_path(article) %>
    </td>
    <td class="title">
      <%= article.title %>
    </td>
    <td class="menu_order">
      <%= article.menu_order %>
    </td>
    <td class="published">
      <%= article.published_name %>
    </td>
    <td class="is_home">
      <%= article.is_home_name %>
    </td>
    <td >
      <%= I18n.l article.updated_at, :format => :short %>
    </td>
    <td class="edit"><%= link_to '編集', 
        site_article_path(article, :action => :edit) %></td>
    <td class="destroy"><%= link_to '削除', 
        site_article_path(article, :action => :destroy) ,
                :confirm => '削除してよろしいでしょうか?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @articles.size > 0 %>
  <div>
    <%= will_paginate @articles, :prev_label => '<=', :next_label => '=>' %>

    </div>
<% end %>


<%= link_to "新規#{Article.model_name.human}", new_site_article_path %>
<%= link_to "#{Article.model_name.human}並びかえ",
  site_articles_path(:action => :place) %>