<h1>
  <%= Article.model_name.human %>詳細
</h1>

<p id="notice"><%= notice %></p>

<% if @article %>
<p>
  <b><%= Article.human_attribute_name(:title) %>:</b>
  <%= @article.title %>
</p>

<p>
  <b><%= Article.human_attribute_name(:content) %>:</b>
  <%= @article.content.html_safe %>
</p>
<p>
  <b><%= Article.human_attribute_name(:keywords) %>:</b>
  <%= @article.keywords %>
</p>
<p>
  <b><%= Article.human_attribute_name(:menu_order) %>:</b>
  <%= @article.menu_order %>
</p>
<p>
  <b><%= Article.human_attribute_name(:published) %>:</b>
  <%= @article.published_name %>
</p>
<p>
  <b><%= Article.human_attribute_name(:is_home) %>:</b>
  <%= @article.is_home_name %>
</p>

<p>
  <b><%= Article.human_attribute_name(:updated_at) %>:</b>
  <%= I18n.l @article.updated_at, :format => :long %>
</p>

<table>
  <tr>
    <th>
      <%= ArticleHistory.human_attribute_name(:updated_at) %>
    </th>
    <th>
      <%= ArticleHistory.human_attribute_name(:last_updated_at) %>
    </th>
    <th>
    </th>
  </tr>
  <% @article_histories.each do |article| %>
    <tr>
      <td >
        <%= I18n.l article.updated_at, :format => :short %>
      </td>
      <td >
        <%= I18n.l article.last_updated_at, :format => :short %>
      </td>
      <td class="edit"><%= link_to '編集', 
          site_article_path(article, :action => :edit) %></td>
    </tr>

  <% end %>
  </table>
<% else %>  
  <p class='not_found'>
    指定された記事はみつかりません
  </p>
<% end %>
  
<% if @article %>
<%= link_to '編集', site_article_path(@article, 
    :action => :edit, :page => params[:page]) %> |
<% end %>
<%= link_to '戻る', :back %>
