<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @article.title %>
</p>

<p>
  <b>見出しレベル:</b>
  <%= heading_level_name_with_id(@article.heading_level) %>
</p>

<p>
  <b>内容:</b>
  <%= @article.content.html_safe %>
</p>
<p>
  <b>更新日時:</b>
  <%= I18n.l @article.updated_at, :format => :long %>
</p>


<%= link_to '編集', edit_article_path(@article, :current_page => params[:page]) %> |
<%= link_to '戻る', articles_path %>
