<h1><%= User.human_attribute_name(:password) %>再発行</h1>

<% if @user && @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= (@user.errors.count).to_s %> のエラーが発生しました</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p id="notice"><%= flash[:notice] %></p>
<p id="error"><%= flash[:error] %></p>

<%= form_for(@user, :url => url_for(:action => :update)) do |f| %>

<div class="inputs" id="password_reissue_fields">
  <div class="field" id="login_field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field" id="password_field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field" id="password_confirmation_field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.hidden_field :reissue_password %>
  <div class="actions">
    <%= f.submit 'パスワード変更' %>
  </div>
  
</div>

<% end %>


