<%= javascript_include_tag 'ckeditor/ckeditor' %>


<script type="text/javascript" charset="utf-8">

jQuery(function($){
    $("#published_from_select_date").datepicker();
    $("#published_from_select_date").datepicker("option", 
    {dateFormat: 'yy/mm/dd',
    dayNames: ['日','月','火','水','木','金','土'],
    minDate: new Date()
    });
    $("div#published_from").css("display", "none");
    $("div#published").css("display", "none");    

    $('#preview_link').click( function() {
      previewArticle();
    } );
    
    // キー入力されている場合、ページを離れてもよいか確認
    var keyCount = 0;
    $('form :input').keypress( function() {
      keyCount += 1
    } );
    $('form :button').click( function() {
      keyCount += 1
    } );
    $('form :submit').click( function()  {
      keyCount = 0;
    } );
    CKEDITOR.on('instanceReady',
        function(e) {e.editor.on('key', function() { keyCount += 1; }  )  } );
    
    $(window).bind('beforeunload', function(event) {
      if(keyCount > 0) {
    	  return '編集内容が保存されていません';
  	  }
    });
    
});

function previewArticle() {
  $('#blog_article_content').val( CKEDITOR.instances.blog_article_content.getData());
  $.ajax( {
    type: "POST",
    url: "<%= url_for(:action => :create_temp, :id => @article.id) %>",
    data: $('.edit_blog_article').serialize(),
    async: false,
    dataType: 'json',
    success: function(json){
      /*
       alert('/' + '<%= @site.name %>' + '/blogs/' + json.blog_article.id);
       window.open('/' + '<%= @site.name %>' + '/blogs/' + json.blog_article.id,
                    '_preview ');
                    */
     }
  } );
}

// 画像タグを挿入
// == parameters
// * images - url, is_image, title, alternative配列を含む配列
// * align - 画像の横方向のalign (left | rigjt | center | none )
function insertImages(images, align) {

  var editor = CKEDITOR.instances.blog_article_content;
  var alignStyle = align == "none" ? "" : "text-align: " + align + ";";
  $.each(images, function(i) {
    var p;
    var a = '';
    var img;
    if(this['is_image'] == "true") {
      if(this['thumb'] != '') {
        p = '<p style="' + alignStyle + '">';
        p += '</p>';
        img = '<img src="' + this['thumb'] +  '" ' + 
        'alt="' +  (this['alternative'] != "" ? this['alternative'] : this['title'])   +  '" ' +
        '/>';
        a = '<a href="' + this['url'] +  '" ' + 
        'title="' + this['title'] + '" ' +
        'class="lightbox" '  +
        '/>';
      }
      else {
        p = '<p style="' + alignStyle + '">';
        p += '</p>';
        img = '<img src="' + this['url'] +  '" ' + 
        'alt="' +  (this['alternative'] != "" ? this['alternative'] : this['title'])   +  '" ' +
        'title="' + this['title'] + '"' +
        '/>';
      }
    }
    var pElement = CKEDITOR.dom.element.createFromHtml(p);
    var imgElement = CKEDITOR.dom.element.createFromHtml(img);
    editor.insertElement(pElement);
    if(a != '') {
      var aElement = CKEDITOR.dom.element.createFromHtml(a);
      pElement.append(aElement );
      aElement.append(imgElement );
    }
    else {
      pElement.append(imgElement);
    }
  }
  );

}

CKEDITOR.config.height =  '<%= (editor_row_count * 1.25).to_i %>'  + "em";
CKEDITOR.config.imageSelctorUrl = 
'<%= url_for(:controller => :images, :action => :selection_list, :site => @site.name) %>';


</script>

<div id="edit_article">
<%= form_for(@article, :url => site_blog_path(@article)) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= (@article.errors.count).to_s %> のエラーが発生しました</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs fields" id="article_fields">
    <div id="updated_at_info">
    <% if @article.updated_at %>
     最終<%= BlogArticle.human_attribute_name(:updated_at) %>:
       <span id="updated_at">
        <%= if @article.updated_at.nil? then 
        '未保存' 
        else 
          I18n.l @article.updated_at, :format => :long
        end  %>
      </span>
    <% end %>
    </div>
    <div class="field" id="title_field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field" id="content_field">
      <%= f.label :content %><br />
      <%= f.text_area :content, :class => "ckeditor" %>
    </div>
  </div>

  <div class="inputs fields" id="published_fields">
    <h2 id="published_heading">
      公開
    </h2>
    <div class="" id="published_status_info">
      <span id="published_status_info">
        ステータス:
        <span id="published_status">
        <%= published_human_name(@article) %>
        </span>
        &nbsp;
        <%= link_to_function("編集", "showPublished();") %>
        
      </span>
      <span id="published_from_status_info">
        公開日時:
        <span id="published_from_status">
        <%= if @article.published_from.nil? then 
          '未設定' 
          else 
            I18n.l @article.published_from, :format => :long
          end  %>
          </span>
        <%= link_to_function("編集", "showPublishedFrom();") %>
      </span>
    </div>

    <div class="" id="published">
      <div class="field" id="published_filed">
        <%= f.label :published %><br />
        
        <%= select_tag( :article_published_select,
        options_for_select(Article.map_for_published_selection, @article.published),
        {:selected => @article.published}
         ) 
         %>
      </div>
      <!-- 公開/下書き切り替えの確定値を格納するhiddenフィールド -->
      <%= f.hidden_field :published %>
      <div class="actions">
        <%= button_to_function "OK", "okPublished();" %>
        <%= button_to_function "キャンセル", "cancelPublished();" %>
      </div>
      
    </div>

    <div class="" id="published_from">
      <div class="field" id="published_from_filed">
      <%= text_field 'published_from_select' , 'date', 
        :value => if @article.published_from.blank?  
                    '' 
                  else 
                    @article.published_from.strftime('%Y/%m/%d') 
                  end
          %>日
      <%= select 'published_from_select',  'hour' ,
        (0..23).collect {|h|  sprintf("%02d", h) },
        {:selected => if @article.published_from.blank?  
                    ''
                  else
                    @article.published_from.strftime('%H') 
                  end}
      %>:
      <%= select 'published_from_select',  'minute' ,
        [0,5,10,15,20,25,30,35,40,45,50,55].collect {|m|  sprintf("%02d", m) },
        {:selected => if @article.published_from.blank?  
                    ''
                  else
                    @article.published_from.strftime('%M') 
                  end}
          
        
      %>
      <%=
        button_to_function "クリア", "clearPublishedFrom();" 
      %>
      </div>
      
      <!-- 公開開始日時の確定値を格納するhiddenフィールド達 -->
      <%= hidden_field_tag 'published_from[date]' , 
                if @article.published_from.blank?  
                  '' 
                else 
                  @article.published_from.strftime('%Y/%m/%d') 
                end,
                {:id => "published_from_date"}
      %>
      <%= hidden_field_tag 'published_from[hour]' , 
                if @article.published_from.blank?  
                  '' 
                else 
                  @article.published_from.strftime('%H') 
                end,
                {:id => "published_from_hour"}
      %>
      <%= hidden_field_tag 'published_from[minute]' , 
                if @article.published_from.blank?  
                  '' 
                else 
                  @article.published_from.strftime('%M') 
                end,
                {:id => "published_from_minute"}
      %>
      <!-- hiddenフィールド終わり -->
      <div class="actions">
        <%= button_to_function "OK", "okPublishedFrom();" %>
        <%= button_to_function "キャンセル", "cancelPublishedFrom();" %>
      </div>
      
      
    </div>
    <!-- flaotのクリア  -->
    <div style="clear: both;">
    </div>

  </div>

  <div class="inputs fields" id="seo_fields">
    <h2 id="seo_heading">
      SEO
    </h2>
    <div class="field" id="meta_keywords_filed">
      <%= f.label :meta_keywords %>
      <%= f.text_field :meta_keywords %>
    </div>
    <div class="field" id="meta_description_field">
      <%= f.label :meta_description %>
      <%= f.text_area :meta_description, :rows => 4 %>
    </div>
    <div class="field" id="ignore_meta_field">
      <%= f.label :ignore_meta %>
      <%= f.check_box :ignore_meta %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= link_to('プレビュー', 
      {:controller => '/blogs', :action => :preview, :id => @article.id}, 
      :target => '_preview', :id => :preview_link) %>
  </div>  
<% end %>

<%= form_tag(url_for(:action => :create_temp), :class=>'temp_article') do  %>
  
<% end %>
</div>
<script type="text/javascript" charset="utf-8">
/*
if ( typeof CKEDITOR == 'undefined' )
{
document.write(
'<strong><span style="color: #ff0000">Error</span>: CKEditor not found</strong>.' +
'This sample assumes that CKEditor (not included with CKFinder) is installed in' +
'the "/ckeditor/" path. If you have it installed in a different place, just edit' +
'this file, changing the wrong paths in the &lt;head&gt; (line 5) and the "BasePath"' +
'value (line 32).' ) ;
}
else
{
var editor = CKEDITOR.replace( 'article_content' );

// Just call CKFinder.SetupCKEditor and pass the CKEditor instance as the first argument.
// The second parameter (optional), is the path for the CKFinder installation (default = "/ckfinder/").
CKFinder.SetupCKEditor( editor, '/javascripts/ckfinder/' ) ;


// It is also possible to pass an object with selected CKFinder properties as a second argument.
// CKFinder.SetupCKEditor( editor, { BasePath : '../../', RememberLastFolder : false } ) ;
}

//var editor = CKEDITOR.replace( 'article[content]' );
//CKFinder.SetupCKEditor( editor, '/ckfinder/' );
*/
</script>
