<h1>
  画像情報変更
</h1>
<p id="notice"><%= flash[:notice] %></p>

<%= form_for(@image, :html => { :multipart => true, 
                #                :target => 'frame'  
                                } , 
:url => site_image_path(@image, :action => :update))  do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> エラーが発生しました:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
    
  <% end %>

  <div class="field">
    <%= label :image, :title %><br />
    <%= text_field :image, :title %>
  </div>
  
  <div class="field">
    <%= label :image, :alternative %><br />
    <%= text_field :image, :alternative %>
  </div>

  <div class="field">
    <%= label :image, :url %><br />
    <%= link_to(image_url(@image),image_url(@image), :target => '_blank')  %>
  </div>

  <div class="field">
    <%= label :image, :caption %><br />
    <%= text_field :image, :caption %>
  </div>
  
  </div class="field">
    <%= label :image, :description %><br />
    <%= text_area :image, :description %>
  </div>
  


  <div>
    <%= image_tag(@image) %>
  </div>

  
  <div class="actions">
    <%= link_to_function '戻る', 'history.back();' %>
   <%= f.submit :value => "更新" %>
  </div>
  <!--
  <iframe id='frame' name="frame"></iframe> 
  -->
<% end %>


