<h1>
  <%= Image.human_name %>情報変更
</h1>
<p id="notice"><%= flash[:notice] %></p>

<%= form_for(@image, :html => { :multipart => true, 
                #                :target => 'frame'  
                                } , 
:url => site_image_path(@image, :action => :update))  do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> エラーが発生しました:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
    
  <% end %>

  <div class="field" id="title_field">
    <%= f.label  :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field" id="alternative_field">
    <%= f.label:alternative %><br />
    <%= f.text_field :alternative %>
  </div>

  <div class="field" id="url_field">
    <%= f.label :url %><br />
    <%= link_to(image_url(@image),image_url(@image), :target => '_blank')  %>
  </div>

  <div class="field" id="caption_field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
  
  <div class="field" id="description_field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field" id="image_filed">
    <%= user_image_tag(@image) %>
  </div>

  
  <div class="actions">
    <%= link_to_function '戻る', 'history.back();' %>
   <%= f.submit :value => "更新" %>
  </div>
  <!--
  <iframe id='frame' name="frame"></iframe> 
  -->
<% end %>


