<script type="text/javascript">
//<![CDATA[
  
  // see javascript/site/images.js
  
  // ページload時,
  // アップロードフォームの表示On/Off,#display_uploadフィールドの値で切り替え
  $(document).ready( function(){
    var  f = false;
    if($('#display_upload').attr('value') == 1) {
      f = true;
    }
    else {
      f = false;
    }
    showOrHideUpload(f);
  });


  
//]]>
</script>


<%= stylesheet_link_tag "site/images" %>
<h1>
  <%= Image.human_name %>一覧とアップロード
</h1>

<p id="notice"><%= flash[:notice] %></p>

<%= link_to_function('隠す', 'reverseDisplayingUpload();', :id => 'link_to_display_upload')%>

<%= form_for(@image, :html => { :multipart => true, 
                #                :target => 'frame'  
                                } , 
:url => site_image_path(@image, :action => :create))  do |f| %>
<div class="error">
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> エラーが発生しました:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
    
  <% end %>
</div>
<div id="upload">
  <h2>
    <%= Image.human_name %>アップロード
  </h2>
  
  <%= hidden_field_tag :display_upload, 
    if params[:display_upload].nil? then 0  else params[:display_upload] end %>
  <div class="field" id="image_field">
    <%= f.label :image, "ファイルを選択" %><br />
    <%= f.file_field :image%>
  </div>

  <div class="field" id="title_field">
    <%= label :image, :title %><br />
    <%= text_field :image_additional, :title %>
  </div>
  
  <div class="field" id="alternative_field">
    <%= label :image, :alternative %><br />
    <%= text_field :image_additional, :alternative %>
  </div>
  
  <div class="field" id="caption_field">
    <%= label :image, :caption %><br />
    <%= text_field :image_additional, :caption %>
  </div>
  
  <div class="field" id="description_filed">
    <%= label :image, :description %><br />
    <%= text_area :image_additional, :description %>
  </div>

  
  
  <div class="actions">
  <%= f.submit :value => "ファイルをアップロード" %>
  </div>
  <!--
  <iframe id='frame' name="frame"></iframe> 
  -->
<% end %>
</div>


<div>
<h2>
  画像一覧
</h2>
<%= form_tag({:action => :index},
               {:id => 'filteting_by_month', :method => 'get'}) do -%>
  <%= hidden_field_tag 'month', nil, { :id => 'filtered_month'}  %>
<% end %>
<%= form_tag({:action => :process_with_batch},
             {:id => 'process_with_batch', :method => 'get', :name => 'images'}) do -%>
<div id="batch_and_filtering">
  チェックされたものの
  <%= select_tag('images[processing_method]',
  options_for_select([['削除', 'destroy']]),
  { :include_blank => true }) %>
  <%= button_to_function('一括実行', 'return processBatch();') %>
  
  <%= select_tag('images[months]',
  options_for_select(
    [['全て', '']] +
    @months.collect { |month|
      [month.to_s('%Y年%m日'), month.to_s('%Y%m') ]
    },
    if params[:month] then params[:month] else nil end
  ), { :include_blank => false, :id => 'filtering_month', :name => 'month'} )

  %>
    <%= button_to_function('フィルター', 'return filterByMonth();') %>
</div>
<% if @images.size > 0 %>
  <%= will_paginate @images,  
    :params=>{:display_upload=>0}, 
    :prev_label => '<=', :next_label => '=>' %>
<% end %>

<table id="images">
  <tr>
    <th class="check_for_batch">
      <%= check_box_tag("check_all",1, false, 
      {:class => 'check_all'}) %>
    </th>
    <th class="image_entry">
      <%= Image.human_attribute_name(:title) %>
    </th>
    <th class="created_at">
      <%= Image.human_attribute_name(:created_at) %>
    </th>
  </tr>
  <% @images.each_with_index do |image, i| %>
    <tr>
    </tr>
    <tr class="image_entry_row, <%= if i % 2 == 0 then 'even' else 'odd' end %>" >
      <td>
        <%= check_box_tag("images[checked][#{image.id}]",image.id, false, 
        {:class => 'check_for_batch'}) %>
      </td>
      <td class="image_entry">
        <div class="thumb">
           <%= thumb_tag(image) %> 
        </div>
        <div class="info">
          <div class="title">
            <%= image.title %>
          </div>
          <div class="description">
            <%= image.description %>
          </div>
          <div class="actions"> 
            <%= link_to("編集", site_image_path(image, :action => :edit)) %>
            <%= link_to('削除', url_for(:action => :destroy, :id => image.id), 
            :confirm => '削除してよろしいでしょうか?') %>
            <%= link_to("表示", url_for(:action => :show, :id => image.id)) %>
          </div> 
        </div>
      </td>
      <td class="created_at">
        <%= I18n.l(image.created_at, :format => :short) %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
<% if @images.size > 0 %>
    <%= will_paginate @images,  
      :params=>{:display_upload=>0}, 
      :prev_label => '<=', :next_label => '=>' %>
<% end %>

</div>


