<h1>
  新規画像アップロード
</h1>
<p id="notice"><%= flash[:notice] %></p>

<%= form_for(@image, :html => { :multipart => true, 
                #                :target => 'frame'  
                                } , 
:url => site_image_path(@image, :action => :create))  do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> エラーが発生しました:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
    
  <% end %>
  <div class="field">
    <%= label :image, :title %><br />
    <%= text_field :image_additional, :title %>
  </div>
  
  <div class="field">
    <%= f.label :image, "ファイルを選択" %><br />
    <%= f.file_field :image%>
  </div>
  
  <div class="actions">
  <%= f.submit :value => "ファイルをアップロード" %>
  </div>
  <!--
  <iframe id='frame' name="frame"></iframe> 
  -->
<% end %>

<%= link_to_function '戻る', "history.back();return false;" %>
