<p id="notice"><%= flash[:notice] %></p>

<div>
  <% if @image.image_content_type? %>
  <div>
    <%= image_tag(@image) %>
  </div>
  <% end %>
  <table class="list">
    <tr class="title">
      <th>
        タイトル
      </th>
      <td>
        <%= @image.title %>
      </td>
    </tr>
    <tr class="caption">
      <th>
        キャプション
      </th>
      <td>
        <%= @image.alternative %>
      </td>
    </tr>
    <tr class="description">
      <th>
        説明
      </th>
      <td>
        <%= simple_format(@image.description) %>
      </td>
    </tr>
    <tr class="alternative">
      <th>
        代替テキスト
      </th>
      <td>
        <%= @image.alternative %>
      </td>
    </tr>

    <tr class="url">
      <th>
        URL
      </th>
      <td>
        <%= link_to(image_url(@image),image_url(@image), :target => '_blank')  %>
      </td>
    </tr>

  </table>
  
</div>

<div class="actions">
<%= link_to_function '戻る', 'history.back();' %>
</div>