<h1>
  ダッシュボード
</h1>

<script type="text/javascript" charset="utf-8">
</script>

<p id="notice"><%= flash[:notice] %></p>


<section class="main_section information">
  
  <h2>
    管理者からのお知らせ
  </h2>

  <ul >
    <% @informations.each do |information| %>
      <li><%= I18n.l information.updated_at.to_date, :format => :middle %>&nbsp;
      <%= link_to(information.title, 
      url_for(:controller => :informations, :action => :show, :id => information.id)) %>
      </li>
    <% end %>
  </ul>

</section>
</section><!--　main_section　-->

<section class="status">

  <h2>
    現在の状況
  </h2>
  <dl>
  
    <dt>
    <%= link_to 'お知らせ', :controller => 'site_admin/blogs', :action => :index  %>
    </dt>
    <dd>
      <span  class="field_value">
        <%= @blog_count %> 
      </span>
      件
    <dd>
    <dt>
      <%= link_to 'ページ', :controller => 'site_admin/pages', :action => :index  %>
    </dt>
    <dd>
      <span  class="field_value">
        <%= @page_count%>
      </span>
      件
  </dd>
  <dt>
    <%= link_to 'ウィジット', :controller => 'site_admin/widgets', :action => :index  %>
  </dt>
  <dd><span  class="field_value">
    <%= @widget_count %></span>件
  </span></dd>
  <dt>
    <%= link_to 'テーマ', :controller => 'site_admin/theme', :action => :index  %>
  </dt>
  <dd><span  class="field_value">
    <span  class="field_value"><%= @theme.human_name %></span>
  </span></dd>
  <dd class="theme">
    <%= link_to 'テーマ変更', :controller => 'site_admin/theme', :action => :index  %>
  </dd>
  <p>
    ファイル容量の使用状況最大<%= @site.max_mbyte %>MBのうち
    <span>
      <% if @capacity > 1024 * 1024 %>
      <%= @capacity / 1024 / 1024 %>MB
      <% else @capacity > 1024  %>
      <%= @capacity / 1024 %>KB
      <% end %>使用中
    </span>
  </p>  
</dl>

</section>


