<h1>
  <% if @article %>
  <%= @article.title %>
  <% else %>
  <%= PageArticle.model_name.human %>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<% if @article %>
<p id="content" class="article">
  <%= @article.content.html_safe %>
</p>


<% else %>  
  <p class='not_found warning'>
    指定された<%= PageArticle.human_name %>はみつかりません
  </p>
<% end %>

<div class="actions">  
</div>