<%= javascript_include_tag "colorpicker/colorpicker" %>
<%= stylesheet_link_tag "colorpicker/colorpicker" %>

<style type="text/css">
  <!-- カラー選択 -->
	#background_color_picker {width:20px; 
	  height:20px;
	  background:<%= @site_layout.background_color %>;
	  border:2px 
	  solid #C9C9C9;}
</style>
<script type="text/javascript">
//<![CDATA[

  $(document).ready( function(){
    registOnChangeRadio('eye_catch_type');
    registOnChangeRadio('skin_color');
    registOnChangeRadio('column_layout');
    selectRadio('eye_catch_type',  '<%= @site.site_layout.eye_catch_type %>');
    selectRadio('skin_color',  '<%= @site.site_layout.skin_color %>');
    selectRadio('column_layout',  '<%= @site.site_layout.column_layout %>');
    
    $("#site_layout_background_color").change(function () {
      $("#background_color_picker").css("background", $(this).val() );
    });

  } );
  
	$(function(){
		$("#site_layout_background_color,#background_color_picker").ColorPicker({
			color : "<%= @site.site_layout.background_color %>",
			onChange : function( hsb, hex, rgb ){
				$("#background_color_picker").css("background", "#"+ hex);
				$("#site_layout_background_color").val("#" + hex);
			},
      onBeforeShow: function () {
      		$(this).ColorPickerSetColor($("#site_layout_background_color").val());
    	}    	
		}) ;
	}) ;
//]]>
</script>
  
<h1>
  <%= SiteLayout.model_name.human %>
</h1>
<p id="notice"><%= flash[:notice] %></p>


<%= form_for(@site.site_layout, :url => site_layout_path(:action => 'update'),
      :html => { :multipart => true } ) do |f| %>

<div class="error">
  <% if @site_layout.errors.any? || 
    @header_image.errors.any? || 
    @footer_image.errors.any? ||
    @logo_image.errors.any? ||
    @background_image.errors.any?  %>
    <div id="error_explanation">
      <h2><%= SiteLayout.model_name.human %>に関して
      <%= pluralize(@site_layout.errors.count, "error") %> エラーが発生しました:</h2>
      <ul>
      <% @site_layout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <h2>ヘッダー画像に関して
      <%= pluralize(@header_image.errors.count, "error") %> エラーが発生しました:</h2>
      
      <ul>
      <% @header_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <h2>フッター画像に関して
      <%= pluralize(@footer_image.errors.count, "error") %> エラーが発生しました:</h2>

      <ul>
      <% @footer_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

      <h2>背景画像に関して
      <%= pluralize(@background_image.errors.count, "error") %> エラーが発生しました:</h2>
      <ul>
      <% @background_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

      <h2>ロゴ画像に関して
      <%= pluralize(@logo_image.errors.count, "error") %> エラーが発生しました:</h2>
      <ul>
      <% @logo_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>


    </div>


  <% end %>
</div>


  
<div class="inputs fields">
<h2>
  <%= SiteLayout.human_attribute_name(:eye_catch_type) %>
</h2>
<div id="eye_catch_types">
  <% @layout_defs.eye_catch_types.each do |eye_catch_type| %>
    <div class="eye_catch_type" id="eye_catch_type_<%= eye_catch_type.name %>">
      <label for="eye_catch_type_thumb"> 
      <div class="eye_catch_type_thumb"
           style="background-image:url(<%= eye_catch_type.thumb_url %>);"> </div> 
      </label> 
      <p class="eye_catch_type_select"> 
      <%= f.radio_button :eye_catch_type, eye_catch_type.name,:class => "eye_catch_type_radio_button"  %>
      <label for="eye_catch_type" id="eye_catch_type_human_name" > 
        <%= eye_catch_type.human_name %>
      </label> 
      </p>
    </div>
  <% end %>
</div>
<div class="inputs_bottom">
</div>
</div>



<div class="inputs fields">
<h2>
  <%= SiteLayout.human_attribute_name(:global_navigation) %>
</h2>
<div id="global_navigation">
  <%= f.select(:global_navigation, 
      @layout_defs.global_navigations.collect { |navi| [navi.human_name, navi.name] }  ) %>
</div>
</div>

<div class="inputs fields">
<h2>
  <%= SiteLayout.human_attribute_name(:column_layout) %>
</h2>
<div id="column_layout">
  <% @layout_defs.column_layouts.each do |column_layout| %>
    <div class="column_layout" id="column_layout_<%= column_layout.name %>">
      <label for="column_layout_thumb"> 
      <div class="column_layout_thumb"
           style="background-image:url(<%= column_layout.thumb_url %>);"> </div> 
      </label> 
      <p class="column_layout_select"> 
      <%= f.radio_button :column_layout, column_layout.name,
      :class => "column_layout_radio_button"  %>
      <label for="column_layout" id="column_layout_human_name" > 
        <%= column_layout.human_name %>
      </label> 
      </p>
    </div>
  <% end %>
</div>
<div class="inputs_bottom">
</div>

</div>

<div class="inputs fields">
<h2>
  <%= SiteLayout.human_attribute_name(:skin_color) %>
</h2>
<div id="skin_color">
  <% @layout_defs.skin_colors.each do |skin_color| %>
    <div class="skin_color" id="skin_color_<%= skin_color.name %>">
      <label for="skin_color_thumb"> 
      <div class="skin_color_thumb"
           style="background-image:url(<%= skin_color.thumb_url %>);"> </div> 
      </label> 
      <p class="skin_color_select"> 
      <%= f.radio_button :skin_color, skin_color.name,:class => "skin_color_radio_button"  %>
      <label for="skin_color" id="skin_color_human_name" > 
        <%= skin_color.human_name %>
      </label> 
      </p>
    </div>
  <% end %>
</div>
<div class="inputs_bottom">
</div>

</div>

<div class="inputs fields">
<h2>
  <%= SiteLayout.human_attribute_name(:font_size) %>
</h2>
<div id="font_size">
  <% @layout_defs.font_sizes.each do |font_size| %>
    <div class="font_size" id="font_size_<%= font_size.name %>">
      <p class="font_size_select"> 
      <%= f.radio_button :font_size, font_size.name,:class => "font_size_radio_button"  %>
      <label for="font_size" id="font_size_human_name" > 
        <%= font_size.human_name %>
      </label> 
      </p>
    </div>
  <% end %>
</div>
<div class="inputs_bottom">
</div>

</div>

<div class="inputs fields">
<h2>
  ヘッダー画像
</h2>
<div id="header_image">
  <div class="field">
    <%= label 'header', :image, "ファイルを選択" %><br />
    <%= file_field 'header', :image%>
    <%= check_box 'delete_image', :header %>ファイルを削除する
  </div>
  <%= layout_image_tag(@site_layout, :header) %>
</div>
</div>

<div class="inputs fields">
<h2>
  フッター画像
</h2>
<div id="footer_image">
  <div class="field">
    <%= label 'footer', :image, "ファイルを選択" %><br />
    <%= file_field 'footer', :image%>
    <%= check_box 'delete_image', :footer %>ファイルを削除する
  </div>
  <%= layout_image_tag(@site_layout, :footer) %>
</div>
</div>

<div class="inputs fields">
<h2>
  背景
</h2>
<div id="background">
  <div class="field">
    <%= label 'background', :image, "ファイルを選択" %><br />
    <%= file_field 'background', :image%>
    <%= check_box 'delete_image', :background %>ファイルを削除する
  </div>
  <div class="field">
    <% background_color = 
        if @site_layout.background_color
          @site_layout.background_color
        else
          '#ffffff'
        end
    %>
    <%= f.label :background_color %>:
    <%= f.text_field :background_color  %>
    <input type="button" id="background_color_picker" 
          style="background-color: <%= background_color  %>">
    </input>
  </div>
  <div class="field">
    <%= f.label :background_repeat %>:
    <%= f.radio_button :background_repeat, "repeat" %>縦横に繰り返し
    <%= f.radio_button :background_repeat, "repeat-x" %>横方向に繰り返し
    <%= f.radio_button :background_repeat, "repeat-y" %>縦方向に繰り返し
    <%= f.radio_button :background_repeat, "no-repeat" %>繰り返しなし
  </div>
  <%= layout_image_tag(@site_layout, :background) %>
</div>
</div>

<div class="inputs fields">
<h2>
  ロゴ
</h2>
<div id="logo_image">
  <div class="field">
    <%= label 'logo', :image, "ファイルを選択" %><br />
    <%= file_field 'logo', :image%>
    <%= check_box 'delete_image', :logo %>ファイルを削除する
  </div>
  <%= layout_image_tag(@site_layout, :logo) %>
</div>
</div>


<div class="actions">
<%= f.submit :value => "テーマを更新" %>
</div>
<% end %>


