<script type="text/javascript">
//<![CDATA[
    
  // ページload時,
  $(document).ready( function(){
    // widget編集のためのobjectを生成.
    var editor = widgetEditor();
    editor.urlForAdd('<%= url_for(:controller => :widgets, :action => :create, :site => @site.name)  %>');
    editor.urlForSort('<%= url_for(:controller => :widgets, :action => :sort, :site => @site.name)  %>');
    editor.urlBaseForEdit("/site/");
    editor.updateButtonText("保存");
    editor.dialogWidth(450);
    
    editor.msgFailedInConnection("サーバー接続中にエラーが発生しました.");
    editor.msgFailedInDeleting("削除に失敗しました."),
    editor.msgErrorCount("件のエラーがあります"),
    editor.msgNotExists("操作対象のデータが存在しません.");
    editor.editButtonText("編集");
    editor.deleteButtonText("削除");
    editor.closeButtonText("閉じる");
    
    editor.siteName("<%= @site.name %>");
  });


  
//]]>
</script>


<h1>
  ウィジット設定
</h1>

<script type="text/javascript" charset="utf-8">
</script>

<p id="notice"><%= flash[:notice] %></p>
<div id="widgets" >

<% @widgets.each_with_index do |widget, i| %>
<div class="widget" id="<%= widget.name %>">
  <div class="widget_title">
  <h4 class="widget_human_name"><%= widget.human_name %></h4>
  <%= hidden_field_tag "widget_type[#{i}]", widget.class_name, :class => 'widget_type' %>
  </div>
  <%= form_tag({}, {:method => :post} ) do  %>
  <div class="widget_content"> 
    
  </div>
  <% end %>
  <div class="widget_description"> 
  <%= widget.description %>
	</div>
</div>
<% end %>
  
</div>


<div id="widget_areas">

  <div class="widget_area" id="side_widget_area">
    <div class="widget_area_title">
      <h4>
        サイドバーエリア
      </h4>
    </div>
    <div class="widget_area_contents"  id="side_widget_area_contents">
      <% @widgets_on_side.each do |site_widget| %>
        <div class="widget_title">
        <h4 class="widget_human_name"><%= site_widget.widget.class.human_name %></h4>
        <%= hidden_field_tag "widget_position[#{site_widget.id}]", 
        site_widget.position, :class => 'widget_position'  %>
        <%= hidden_field_tag "widget_id[#{site_widget.id}]", 
        site_widget.id, :class => 'widget_id'  %>
        <%= hidden_field_tag "widget_type[#{site_widget.id}]", 
        site_widget.widget.class.name, :class => 'widget_type' %>
        <%= button_to_function "編集" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="widget_area"  id="footer_widget_area">
    <div class="widget_area_title">
      <h4>
        フッターーエリア
　       </h4>
    </div>
    <div class="widget_area_contents" id="footer_widget_area_contents">
      <% @widgets_on_footer.each do |site_widget| %>
      <div class="widget_title">
      <h4 class="widget_human_name"><%= site_widget.widget.class.human_name %></h4>
      <%= hidden_field_tag "widget_position[#{site_widget.id}]", 
      site_widget.position, :class => 'widget_position'  %>
      <%= hidden_field_tag "widget_id[#{site_widget.id}]", 
      site_widget.id, :class => 'widget_id'  %>
      <%= hidden_field_tag "widget_type[#{site_widget.id}]", 
      site_widget.widget.class.name, :class => 'widget_type' %>
      <%= button_to_function "編集" %>
      </div>
      <% end %>
    </div>
  </div>
  
</div>


<div style="clear: both;">
</div>