<h1><%= User.model_name.human %>情報表示</h1>

<p id="notice"><%= notice %></p>

<% if @user %>
<div class="user">


<p class="login">
  <b><%= User.human_attribute_name(:login) %>:</b>
  <%= @user.login %>
</p>

<p class="email">
  <b><%= User.human_attribute_name(:email) %>:</b>
  <%= @user.email %>
</p>

<p class="is_admin">
  <b><%= User.human_attribute_name(:is_site_admin) %>:</b>
  <% if @user.is_site_admin  %>
    はい
  <% else %>
    いいえ
  <% end %>
</p>

</div>
<% else %>
  
<% end %>

<%= link_to '戻る', url_for(:action => :index, :id => nil) %>
