<p class="link_to_inquiry">
<%= inquiry_link :text => 'お問い合わせはこちら', :class => "inquiry_link" %>
</p>
<p class="link_to_rss">
<%= rss_link :text => 'RSS表示', :class =>"rss_link" %>
</p>
<%= render '/widget/new_blogs' %>
<%= render '/widget/blog_months' %>
<% side_widgets.each do |widget| %>
<%= render_widget widget %>
<% end %>
