<!DOCTYPE html>
<html>
<head>
  <title><%= title_tag_text %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta name="robots" content="all" /> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
  <meta name="title" content="" /> 
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "common", :media => :all %>
  <%= site_stylesheet_link_tags :media => :all %>
  
  <style type="text/css">
  <!--
  -->
  </style>
  
</head>
<body>
    
<div id="header">
    <%= render_theme_partial :header %>
    <%= render_eye_catch_if_require :header %>
</div>   <!-- header -->

<div id="container">

<%= render_eye_catch_if_require :container %>

<div id="contents">

<%= render_eye_catch_if_require :contents %>

<%= yield %>

</div>   <!-- contents -->

<div id="side">


<%= render_theme_partial :side %>

</div>   <!-- side -->

</div>   <!-- container -->

<div class="footer">
    <%= render_theme_partial :footer %>
</div>

</body>
</html>
