<h1>
  <% if @information %> 
  <%= @information.title %>
  <% else %>
  記事がみつかりません
  <% end %>
</h1>

<p id="notice"><%= flash[:notice] %></p>
<p id="warning"><%= flash[:warning] %></p>

<% if @information %>
<div class="information">


<p class="content">
  <%= @information.content.html_safe %>
</p>

</div>
<% else %>  
<% end %>
  
<div class="actions">
<%= link_to '戻る', url_for(:controller => :dashboard) %>
</div>
