<%= form_for(@page, :url => url_for(site_page_path(@page))) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => '5' %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.select( :published, 
    @map_for_published,
    { :include_blank => false } 
    )
    %>
  </div>
  <div class="field">
    <%= f.label :menu_order %><br />
    <%= f.select( :menu_order, 
    (1..10),
    { :include_blank => false } 
    )
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
