<h1>
  <%= PageArticle.human_name %>一覧
</h1>
<%= form_tag({:action => :index},
               {:id => 'filteting_by_month', :method => 'get'}) do -%>
  <%= hidden_field_tag 'month', nil, { :id => 'filtered_month'}  %>
<% end %>
<%= form_tag({:action => :process_with_batch},
             {:id => 'process_with_batch', :method => 'get', :name => 'pages'}) do -%>

<p id="notice"><%= flash[:notice] %></p>
<div id="batch_and_filtering">
  チェックされたものの
  <%= select_tag('pages[processing_method]',
  options_for_select([['削除', 'destroy']]),
  { :include_blank => true }) %>
  <%= button_to_function('一括実行', 'return processBatch();') %>
  
  <%= select_tag('pages[months]',
  options_for_select(
    [['全て', '']] +
    @months.collect { |month|
      [month.to_s('%Y年%m日'), month.to_s('%Y%m') ]
    },
    if params[:month] then params[:month] else nil end
  ), { :include_blank => false, :id => 'filtering_month', :name => 'month'} )

  %>
    <%= button_to_function('フィルター', 'return filterByMonth();') %>
</div>

<div class="table_div" id="articles">
<table>
  <tr>
    <th class="check_for_batch">
      <%= check_box_tag("check_all",1, false, 
      {:class => 'check_all'}) %>
    </th>
    <th class="name">
      <%= link_to Article.human_attribute_name(:name), 
        site_pages_path(:sort => 'name') %>
    </th>
    <th class="title">
      <%= link_to Article.human_attribute_name(:title), 
        site_pages_path(:sort => 'title') %>
    </th>
    <th class="menu_order">
      <%= link_to Article.human_attribute_name(:menu_order), 
        site_pages_path(:sort => 'menu_order') %>
    </th>
    <th class="published">
      <%= link_to Article.human_attribute_name(:published), 
        site_pages_path(:sort => 'published') %>
    </th>
    <th class="is_home">
      <%= link_to Article.human_attribute_name(:is_home), 
        site_pages_path(:sort => 'is_home') %>
    </th>
    <th class="updated_at">
      <%= link_to Article.human_attribute_name(:updated_at), 
        site_pages_path(:sort => 'updated_at') %>
    </th>
    <th class="edit action"></th>
    <th class="destroy action"></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td class="check_for_batch">
      <%= check_box_tag("pages[checked][#{article.id}]",article.id, false, 
      {:class => 'check_for_batch'}) %>
    </td>
    <td class="name">
      <%= link_to h(article.name), site_page_path(article) %>
    </td>
    <td class="title">
      <%= article.title %>
    </td>
    <td class="menu_order">
      <%= article.menu_order %>
    </td>
    <td class="published">
      <%= article.published_name %>
    </td>
    <td class="is_home">
      <%= article.is_home_name %>
    </td>
    <td class="updated_at">
      <%= I18n.l article.updated_at, :format => :short %>
    </td>
    <td class="edit action"><%= link_to '編集', 
        site_page_path(article, :action => :edit) %></td>
    <td class="destroy action"><%= link_to '削除', 
        site_page_path(article, :action => :destroy) ,
                :confirm => '削除してよろしいでしょうか?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<% end %>
<% if @articles.size > 0 %>
  <div>
    <%= will_paginate @articles, :prev_label => '<=', :next_label => '=>' %>

    </div>
<% end %>

<div class="actions">
<%= link_to "新規#{Article.model_name.human}", new_site_page_path %>
<%= link_to "#{Article.model_name.human}並びかえ",
  site_pages_path(:action => :place) %>
</div>