<h1>
  ページ並び替え
</h1>
<p id="notice"><%= flash[:notice] %></p>
<div class="articles_div" id="article_ordering">
</div>
<br></br>

<%= link_to '一覧へ戻る', url_for(:back) %>


<script type="text/javascript">
//<![CDATA[

  // 記事一覧を得て表示
  function loadArticles(){
    var url = '<%= url_for( :action => "table_for_placing") %>';
    $('#article_ordering').load(url, function(response, status, xhr) {
      if (status == "error") {
        alert('記事読み込み中にエラーが発生しました'); 
       } 
    });
  }

  // 選択記事のメニュー表示順を１つ前にして、記事一覧を置換
  function previousOrder(articleId){
    var url = '<%= url_for( :action => "previous_order") %>';
    url += '/' + articleId;
    $('#article_ordering').load(url, function(response, status, xhr) {
      if (status == "error") {
        alert('記事の並び替え中にエラーが発生しました'); 
       } 
    });
  }

  // 選択記事のメニュー表示順を１つ後ろにして、記事一覧を置換
  function nextOrder(articleId){
    var url = '<%= url_for( :action => "next_order") %>';
    url += '/' + articleId;
    $('#article_ordering').load(url, function(response, status, xhr) {
      if (status == "error") {
        alert('記事の並び替え中にエラーが発生しました'); 
       } 
    });
  }


  jQuery(function($) {
    loadArticles();    
  });
  
  /*
  jQuery.event.add(window, "load", function(){ 

    });
*/
  
//]]>
</script>
