<h1>
  <%= Page.model_name.human %>詳細
</h1>
<p id="notice"><%= notice %></p>

<p>
  <b><%= Page.human_attribute_name(:title) %>:</b>
  <%= @page.title %>
</p>

<p>
  <b><%= Page.human_attribute_name(:description) %>:</b>
  <%= @page.description %>
</p>

<p>
  <b><%= Page.human_attribute_name(:published) %>:</b>
  <%= published_name(@page) %>
</p>

<p>
  <b><%= Page.human_attribute_name(:menu_order) %>:</b>
  <%= @page.menu_order %>
</p>
<p>
  <b><%= Page.human_attribute_name(:updated_at) %>:</b>
  <%= I18n.l @page.updated_at, :format => :long %>
</p>


<%= link_to '編集', site_page_path(@page, :action => :edit) %> |
<%= link_to '戻る', :back %>
