<table>
  <tr>
    <th class="name">
      <%= Article.human_attribute_name(:name) %>
    </th>
    <th class="title">
      <%= Article.human_attribute_name(:title) %>
    </th>
    <th class="menu_order">
      <%= Article.human_attribute_name(:menu_order) %>
    </th>
    <th class="published">
      <%= Article.human_attribute_name(:published) %>
    </th>
    <th class="is_home">
      <%= Article.human_attribute_name(:is_home) %>
    </th>
    <th class="updated_at">
      <%= Article.human_attribute_name(:updated_at) %>
    </th>
    <th colspan='2'>
      並び変更
    </th>
  <% @articles.each_with_index do |article, i| %>
    <tr>
      <td class="name">
        <%= link_to h(article.name), site_page_path(article) %>
      </td>
      <td class="title">
        <%= article.title %>
      </td>
      <td class="menu_order">
        <%= article.menu_order %>
      </td>
      <td class="published">
        <%= article.published_name %>
      </td>
      <td class="is_home">
        <%= article.is_home_name %>
      </td>
      <td >
        <%= I18n.l article.updated_at, :format => :short %>
      </td>
      <td>
        <% if i > 0 %>
        <%= button_to_function '↑', "previousOrder(#{article.id});", 
        :class => "previous_order"
        %>
        <% end %>
      </td>
      <td>
        <% if i < @articles.size - 1 %>
        <%= button_to_function '↓', "nextOrder(#{article.id}); ",
        :class => "next_order"
         %>
         <% end %>
      </td>
      
    </tr>
  <% end %>
</table>
