<h1>管理者ユーザ情報表示</h1>

<p id="notice"><%= notice %></p>

<% if @user %>
<div class="user">


<p class="login">
  <b><%= User.human_attribute_name(:login) %>:</b>
  <%= @user.login %>
</p>

<p class="email">
  <b><%= User.human_attribute_name(:email) %>:</b>
  <%= @user.email %>
</p>


</div>
<% else %>
  
<% end %>

<div class="actions" id="back_action">
<%= link_to '一覧へ戻る', url_for(:action => :index, :id => nil) %>
</div>
