<p id="notice">
  <%= flash[:notice] %>
</p>
<% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= (@user_session.errors.count).to_s %> のエラーが発生しました</h2>

    <ul>
    <% @user_session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<fieldset>
  <legend>ログイン</legend>
  
  <% form_for( @user_session,
      :url => { :action => "create"} )   do |f|   %>


    <div class="field" id="login">
      <%= f.label t :login,:scope => [:activerecord, :attributes, :user]  %><br />
      <%= f.text_field :login %>
    </div>
    <div class="field" id="password">
      <%= f.label t :password,:scope => [:activerecord, :attributes, :user] %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field" id="auto_login">
      <%= label_tag :auto_login,  t(:auto_login,:scope => [:activerecord, :attributes, :user]) %>
      <%= check_box :user, :auto_login %>
    </div>
    
    
    <%= hidden_field_tag 'back_controller', params[:back_controller] %>
    <%= hidden_field_tag 'site', params[:site] %>
    </div>
    
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>

  <% end %>
  
</fieldset>

<div class="note"> 
  <ul> 
    <li>パスワードを忘れた方は
      <%= link_to "パスワードの再設定", :controller => "/password_reissue", :action => :index %>
      を行ってください。</li>
  </ul>  

</div>
