<!DOCTYPE html>
<html>
<head>
  <%= title_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "admin" %>
  <%= stylesheet_link_tag "sunny/jquery-ui" %>
  <%= stylesheet_link_tag "#{params[:controller]}" %>
  <%= javascript_include_tag "#{params[:controller]}" %>
</head>
<body>
    
  <header>
    <%= render "/layouts/admin/header" %>
  </header>   <!-- header -->

  <div id="content">

  <div class="main">

  <%= yield %>

  </div>   <!-- main -->

  <aside>


  <%= render "/layouts/admin/side" %>

  </aside>   <!-- side -->




  </div>   <!-- container -->

  <footer>
    <%= render "/layouts/admin/footer" %>
  </footer>

</body>
</html>
