<!DOCTYPE html>
<html>
<head>
  <%= title_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "jquery-ui.min" %>
  <%= javascript_include_tag "jquery.ui.datepicker-ja" %>
  <%= stylesheet_link_tag "smoothness/jquery-ui" %>
  <%= stylesheet_link_tag "#{params[:controller]}" %>
  <%= javascript_include_tag "#{params[:controller]}" %>
</head>
<body>
    
<div id="header">
    <%= render "/layouts/site/header_no_login" %>
</div>   <!-- header -->

<div id="container">


<div id="contents">

<%= yield %>

</div>   <!-- contents -->


<div style="clear: both;">
</div>

</div>   <!-- container -->

<div id="footer">
    <%= render "/layouts/site/footer" %>
</div>

</body>
</html>
