<script type="text/javascript">
//<![CDATA[

  $(document).ready( function(){
    // == theme
    // radio button 変更時
    $('.theme_radio_button').each( function() {
      $(this).change(function () {
        $('.theme_radio_button').each( function() {
          $(this).parent().parent().removeClass('selected');
        } );
        $(this).parent().parent().addClass('selected');
      });
    } ) ;
    // div 選択時、radio buttonの値変更
    $('div.theme').each( function() {
      $(this).click(function () {
        var  id =  $(this).attr('id');
        id = id.replace(/theme_/,'');
        $('.theme_radio_button').each( function() {
          $(this).parent().parent().removeClass('selected');
        } );
        $('.theme_radio_button').val([id]);
        $(this).addClass('selected');
      });
    } ) ;
    $('.theme_radio_button').val(['<%= @site.site_layout.theme %>']);
    $('div#theme_<%= @site.site_layout.theme %>').addClass('selected');
    
  } );
  
//]]>
</script>


<h1>
  テーマの選択
</h1>
<p id="notice"><%= flash[:notice] %></p>

<h2>
  選択されているテーマ
</h2>
<div class="selected_theme" id="selected_theme">
  <label for="theme_thumb"> 
  <div class="theme_thumb"
       style="background-image:url(<%= @selected_theme.thumb_url %>);"> </div> 
  </label> 
  <p class="theme_select"> 
  <label for="theme" id="theme_human_name" > 
    <%= @selected_theme.human_name %>
  </label> 
  </p> 
</div>
  


<%= form_for(@site.site_layout, :url => site_theme_path(:action => 'update')) do |f| %>

<div>
<h2>
  選択可能なテーマ
</h2>
<div id="themes">
  <% @themes.each do |theme| %>
    <div class="theme" id="theme_<%= theme.name %>">
      <label for="theme_thumb"> 
      <div class="theme_thumb"
           style="background-image:url(<%= theme.thumb_url %>);"> </div> 
      </label> 
      <p class="theme_select"> 
      <%= f.radio_button :theme, theme.name,:class => "theme_radio_button"  %>
      <label for="theme" id="theme_human_name" > 
        <%= theme.human_name %>
      </label> 
      </p>
      <div class="theme_description"> 
      <%= theme.description.html_safe %>
      </div>
    </div>
  <% end %>
</div>  <!-- themes -->
</div>
<div class="actions">
<%= f.submit :value => "テーマを更新" %>
</div>
<% end %>


